@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url("./reaponsive.css");

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Work Sans', sans-serif;
}
.main-body{
  display: flex;
  position: relative;
}
.elements{
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100vh;
}

.navigation-bar{
  background-color: rgb(97, 94, 94);
  transition: width .7s;
  width: 100%;
  position: absolute;
  z-index: 999;
  height: 100vh;
  
}
.nav-items{
  overflow: auto;
  flex: 1;
  -webkit-overflow-scrolling: none;
}

.navigation-bar h1{
  text-align: center;
  color: wheat;
  text-transform: uppercase;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.navigation-inner{
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.nav-close{
  border: 0px;
  width: 0px;
  padding: 0;
  overflow: hidden;
}
.nav-open{
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px 5px 0 5px;
  color: white;
  background-color: black;
  border: 1px solid wheat;
  border-radius: 3px;
  font-size: 20px;
  transition: all .3s;
  z-index: 999;
}
.nav-open:hover,.navigation-button:hover{
  opacity: .7;
}

.navigation-button{
  width: 100%;
  background-color: black;
  border: 1px solid wheat;
  color: wheat;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 4px;
  transition: all .3s;
} 
.link{
  text-decoration: none;
  background-color: antiquewhite;
  width: 100%;
  display: block;
  padding: 10px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}
.active-link{
  background-color: rgb(154, 194, 230);
}

.landing-container{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(185, 185, 185);
  position: relative;
}
.landing-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(122, 121, 121);
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}
.landing-box h1{
  margin-bottom: 30px;
  color: white;
  text-transform: capitalize;
}
.landing-box p{
  color: white;
  min-width: 200px;
}

/* loading */
.loading{
  background-color: rgb(163, 219, 219);
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.loading-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  text-transform: capitalize;
  text-align: center;
}